<<<<<<< HEAD
.starting {
    margin: 3rem auto;
    text-align: center;
  }
  
  .starting h1 {
    font-size: 5rem;
  }
=======
.header {
  width: 100%;
  height: 5rem;
  background-color: blue;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  font-weight: bold;
  position: relative;

}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header a:hover,
.header a.active {
  color: #c291e2;
  text-decoration: underline;
}

.header button {

  cursor: pointer;
  font: inherit;
  border: none;
  background-color: transparent;
  
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.list {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  
}

.list a {
  text-decoration: none;
  color: white;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.list a:hover,
list a.active {
  color: burlywood;
  text-decoration: underline;
}

  .navbar{
    position: relative;
    background-color:darkblue;
  }
  .navbar button{
    background-color: lightblue;
  }
  
  
>>>>>>> 97a1082f1d261c13bc016be799905917f2c4399e
