.backdrop {
<<<<<<< HEAD
<<<<<<< HEAD
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    overflow-y: auto;
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  .content {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
   
} 
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
      overflow-y: auto;
      
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



=======
=======
>>>>>>> 97a1082f1d261c13bc016be799905917f2c4399e
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
      overflow-y: auto;
      position: fixed;
      top: 20vh;
      left: 5%;
      width: 90%;
      background-color: white;
      padding: 1rem;
      border-radius: 14px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      z-index: 30;
      animation: slide-down 300ms ease-out forwards;
    }
    
    .content {
      max-height: calc(100vh - 210px);
      overflow-y: auto;
     
  } 
    @media (min-width: 768px) {
      .modal {
        width: 40rem;
        left: calc(50% - 20rem);
        overflow-y: auto;
        
      }
    }
    
    @keyframes slide-down {
      from {
        opacity: 0;
        transform: translateY(-3rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
  
  
<<<<<<< HEAD
  
>>>>>>> 97a1082f1d261c13bc016be799905917f2c4399e
=======
  
>>>>>>> 97a1082f1d261c13bc016be799905917f2c4399e
